<div class="product-list">
  <h1 class="product-list-title">Lista de productos en tiempo real</h1>
  <ul id="productosRealTime" class="product-items"></ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/productsRealTime.js"></script>
